
.hex-structure
{
  display:grid;
  grid-template-columns: 25px 29px 24px;
  grid-template-rows: 13px 39px 14px;
}

.hex-left{
  background-image: url("../charSheet/hex-left.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 25px 66px; 
}  

.hex-top{
  background-image: url("../charSheet/hex-top.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 13px; 
}  

.hex-down{
  background-image: url("../charSheet/hex-down.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 14px; 
}  

.hex-right{
  background-image: url("../charSheet/hex-right.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 24px 66px; 
}  


