<div style="background-color: white;">
  <form class='{{cssClass}}' autocomplete='off'>
    <header class='sheet-header'>
    </header>

    <div class="main-structure" style="padding-bottom:10px;">
      <div class="vitals-structure grid-1-1">
          {{> "systems/ad6_robotech/templates/sheets/partials/character-vitals-mecha.hbs"}}
      </div>  
      <div class="vitals-structure grid-1-2">
          {{> "systems/ad6_robotech/templates/sheets/partials/character-vehicle-framework.hbs"}}
      </div>
      <div class="grid-1-3">
        <img class='profile-img' width="150" src='{{actor.img}}' data-edit='img' title='{{actor.name}}'/>
      </div>
  </div>
  </form>
</div>