      <div class="heroic-structure">
        <div class="grid-1-sp3-1 heroic-left"></div>
        <div class="grid-1-2-sp3 heroic-header" style="padding-left: 20px;"><strong>{{ localize "ad6_robotech.sheetText.heroicMove"}}</strong></div>
        <div class="grid-2-sp2-2 heroic-full" style="padding-left: 20px;"><input class="smachk" type="checkbox" name="system.her1" {{checked system.her1}}/></div>
        <div class="grid-2-3 heroic-half-up"style="padding-left: 20px;"><input class="smachk" type="checkbox" name="system.her2" {{checked system.her2}}/></div>
        <div class="grid-3-3 heroic-half-down" style="padding-left: 20px;"><input class="smachk" type="checkbox" name="system.hera2" {{checked system.hera2}}/></div>
        <div class="grid-2-sp2-4 heroic-right"></div>    
    </div>
