<div class="feature-structure">
    <div class="feature-row item" style="display: grid; grid-template-columns: 15px 179px 13px; 13px;" data-item-id="{{_id}}">
        <div class="grid-1-1"><a class="item-delete"><i class="fas fa-trash faiconcolor  fa-sm"></i></a></div>
        <div  data-item-id="{{_id}}" data-field="name" class="item grid-1-2">
            <input style="text-align: left;" class=" morwid invinput change" value="{{name}}"/>
        </div>
        <div class="grid-1-3"><a class="item-description"><i class="fas fa-comment faiconcolor  fa-sm"></i></a></div>
        <div class="grid-1-4"><a class="item-edit"><i class="fas fa-regular fa-pen-to-square faiconcolor fa-sm"></i></a></div>
    </div>
</div>
