<div class="hex-structure">
      <div class="grid-1-sp3-1 hex-left"></div>
      <div class="grid-1-sp3-3 hex-right"></div>
      <div class="grid-2-2"><input class="invinput bigText smainput" style="padding-top: 5px;" name="system.speed" value='{{system.speed}}'/></div>
      <div class="grid-1-2 hex-top"></div>
      <div class="grid-3-2 hex-down"></div>
    </div>
    <div style="text-align: center;"><strong>{{ localize "ad6_robotech.sheetText.speed"}}</strong></div>