<div class="suite-border talent-structure">
        <div class="gear-name talent-card item" style="display: grid; grid-template-columns:15px 235px 15px 15px 15px " data-item-id="{{_id}}">
            <div><a class="item-delete" title="Borrar"><i class="fas fa-trash faiconcolor" ></i></a></div>
            <div><a class="item-edit">{{name}}</a></div>
            <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
            <div><a class="item-refresh"><i class="fas fa-rotate-right faiconcolor"></i></a></div>
            <div><a class="item-use"><i class="fas fa-bolt faiconcolor"></i></a></div>
        </div>
        <div class="gear-init" >{{system.max}}</div>
        <div class="gear-end" >{{system.value}}</div>
    </div>
