        <div class="vitals-header grid-header" style="padding-left: 110px;"><strong>{{localize "ad6_robotech.sheetText.framework2"}}</strong></div>
        <div class="vitals-left grid-2-1"></div>
        <div class="grid-2-2">
          <div class="vitals-mecha-interior">
                <div class="grid-1-1 nature-disposition-lbl" ></div>
                <div class="grid-2-1 nature-demeanor-30"  ></div>
                <div class="grid-3-1 nature-disposition-lbl" ></div>
                <div class="grid-4-1 nature-demeanor-30"  ></div>

                <div class="grid-1-2">
                    <div style="display: grid; grid-template-columns: 40px 45px; grid-template-rows: 30px;">
                        <div class="gear-trk" ></div>
                        <div class="gear-end" ></div>
                    </div>
                </div>
                <div class="grid-2-2"> 
                    <div style="display: grid; grid-template-columns: 40px 45px; grid-template-rows: 30px;">
                        <div class="gear-trk" ></div>
                        <div class="gear-end" ></div>
                    </div>
                </div> 
                <div class="grid-3-2">    
                  <div style="display: grid; grid-template-columns: 45px; grid-template-rows: 30px;">
                    <div class="gear-end-trk" ></div>
                  </div>
                </div>
                <div class="grid-4-2" >    

                </div>            
          </div>
        </div>
        <div class="vitals-right grid-2-3"></div>