 <div class="tab talents" data-group="primary" data-tab="talents">
              
              {{#if talents }}
              <div style="display: grid; gap:3px;">
                <div class="talent-header">
                  <div class="gear-header-name"></div>
                  <div class="gear-header-init">{{ localize "ad6_robotech.sheetText.uses"}}</div>
                  <div class="gear-header-init">{{ localize "ad6_robotech.sheetText.left"}}</div>
                </div>
                {{#each talents as |talent id|}}
                {{> "systems/ad6_robotech/templates/sheets/partials/character-talent.hbs" talent}}
                {{/each}}
              </div>
              {{/if}}
          </div>
