        <div class="nav-header grid-header">

            <nav class="sheet-tabs" style="border: 0px solid; " data-group="primary">  
                <span style="padding-left: 95px"></span>              
                <a class="item" data-tab="general"><i class="fas fa-file faiconcolor"></i></a>
                <span style="padding-left: 375px"></span>              
                <a class="item" data-tab="config"><i class="fas fa-gear faiconcolor"></i></a>  
            </nav>

        </div>
